html {
    background-color: rgb(180, 183, 197);
}
.header {
    display: flex;
   justify-content: center;
   gap: 15px;
}
.bindiv {
    display: flex;
    flex-flow: row nowrap;
}
.title {
    text-align: center;
    margin-top: 30px;
}
.wrapper {
    width: 27rem;
    background-color: aliceblue;
    outline: 2px solid black;
    margin: auto;
}
#double {
    width: 43rem;
    display: none;
}
#doubletitle {
    display: none;
}
.inpdiv {
    float: right;
    padding: 10px;
}
.bin {
    padding: 10px;
    flex:1;
    min-width: none;
}
.but {
    flex: 1;
}
.inp {
    width:10%
}
#top {
    outline: 1px solid black;
}
#bot {
    margin-top: 33px;
}
#signc {
    background-color: plum;
}
#dsignc {
    background-color: plum;
}
#expc {
    background-color: greenyellow;
}
#dexpc {
    background-color: greenyellow;
}
#manc {
    background-color: blanchedalmond;
}
#dmanc {
    background-color: blanchedalmond;
}