html {
    background-color: rgb(180, 183, 197);
}
body {
    width: 100%;
}
.bindiv {
    display: flex;
    flex-flow: row nowrap;
}
.title {
    margin-top: 10%;
    text-align: center;
}
.wrapper {
    width: 30rem;
    background-color: aliceblue;
    outline: 2px solid black;
    margin: auto;
}
.inpdiv {
    float: right;
    padding: 10px;
}
.bin {
    padding: 10px;
    flex:1;
    min-width: none;
}
.but {
    flex: 1;
}
.inp {
    width:10%
}
#top {
    outline: 1px solid black;
}
#bot {
    margin-top: 33px;
}
#signc {
    background-color: plum;
}
#expc {
    background-color: greenyellow;
}
#manc {
    background-color: blanchedalmond;
}